In [2]:
import pandas as pd

In [3]:

# Cargar los archivos CSV
flights_df = pd.read_csv("../data/flights.csv",sep=";")
hotels_df = pd.read_csv('../data/hotels.csv',sep=';')
users_df = pd.read_csv('../data/users.csv',sep=';')

In [4]:

# Renombrar columnas para evitar conflictos
flights_df_renamed = flights_df.rename(columns={'userCode': 'userCode_flight'})
hotels_df_renamed = hotels_df.rename(columns={'userCode': 'userCode_hotel'})

In [5]:
flights_df_renamed

       travelCode,userCode,from,to,flightType,price,time,distance,agency,date
0       0,0,Recife (PE),Florianopolis (SC),firstClass,...
1       0,0,Florianopolis (SC),Recife (PE),firstClass,...
2       1,0,Brasilia (DF),Florianopolis (SC),firstClas...
3       1,0,Florianopolis (SC),Brasilia (DF),firstClas...
4       2,0,Aracaju (SE),Salvador (BH),firstClass,1684...
...                                                   ...
271883  135941,1339,Campo Grande (MS),Florianopolis (S...
271884  135942,1339,Florianopolis (SC),Natal (RN),econ...
271885  135942,1339,Natal (RN),Florianopolis (SC),econ...
271886  135943,1339,Florianopolis (SC),Rio de Janeiro ...
271887  135943,1339,Rio de Janeiro (RJ),Florianopolis ...

[271888 rows x 1 columns]

In [6]:
hotels_df_renamed

      travelCode,userCode,name,place,days,price,total,date
0      0,0,Hotel A,Florianopolis (SC),4,313.02,1252.0...
1      2,0,Hotel K,Salvador (BH),2,263.41,526.82,10/1...
2      7,0,Hotel K,Salvador (BH),3,263.41,790.23,11/1...
3      11,0,Hotel K,Salvador (BH),4,263.41,1053.64,12...
4      13,0,Hotel A,Florianopolis (SC),1,313.02,313.0...
...                                                  ...
40547  135938,1339,Hotel BP,Brasilia (DF),3,247.62,74...
40548  135939,1339,Hotel BP,Brasilia (DF),1,247.62,24...
40549  135940,1339,Hotel BW,Campo Grande (MS),3,60.39...
40550  135941,1339,Hotel BW,Campo Grande (MS),3,60.39...
40551  135942,1339,Hotel BD,Natal (RN),4,242.88,971.5...

[40552 rows x 1 columns]

In [8]:

# Paso 1: Unir flights y hotels por travelCode
flights_hotels_df = pd.merge(flights_df_renamed, hotels_df_renamed, on="travelCode", suffixes=('_flight', '_hotel'))

KeyError: 'travelCode'

In [ ]:

# Paso 2: Unir el resultado con users por userCode
combined_df = pd.merge(flights_hotels_df, users_df, left_on='userCode_flight', right_on='code')

In [ ]:

# Mostrar el resultado combinado
print(combined_df.head())

In [ ]:

# Si necesitas guardar el resultado combinado en un archivo CSV
combined_df.to_csv('/mnt/data/combined_data.csv', index=False)